.filtro {
    width: 170px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    margin-left: 15px;
}

.filtro select, .filtro .div-preço, .filtro .div-a-z, .filtro .div-z-a {
    display: block;
    margin: 10px auto;
    text-align:center;
}

.filtro select {
    font-size: 20px;
    padding: 4px;
    text-align: left;
    cursor: pointer;
}

.div-preço label, .div-button {
    margin: 0;
}

.filtro button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.filtro .botao-filtrar {
    font-size: 20px;
    background: red;
    width: 100px;
    height: 30px;
}

.filtro .botao-filtrar:hover {
    background: purple;
}

.filtro .botao-filtrar:active {
    background: blue;
}