@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

.App {
    font-family: 'PT Sans', sans-serif;
}

html {
    height: 100%;
    min-height: 100%;
}

body {
    background: rgb(255, 232, 197);
    min-height: 100%;
    position: relative;
}